In [4]:
import random
import matplotlib.pyplot as plt
import networkx as nx
from pylab import ion
ion()

graph = nx.Graph()
node_number = 0
graph.add_node(node_number, Position=(random.randrange(0, 100), random.randrange(0, 100)))

def get_fig():
    global node_number
    node_number += 1
    graph.add_node(node_number, Position=(random.randrange(0, 100), random.randrange(0, 100)))
    graph.add_edge(node_number, random.choice(graph.nodes()))
    fig = plt.figure()
    nx.draw(graph, pos=nx.get_node_attributes(graph,'Position'))
    return fig

num_plots = 5;
plt.show()

for i in range(num_plots):

    fig = get_fig()
    fig.canvas.draw()
    plt.draw()
    plt.pause(2)
    plt.close(fig)

In [5]:
a=range(10)

In [8]:
list(a)[::2]

[0, 2, 4, 6, 8]

In [7]:
a

range(0, 10)

In [9]:
from pandas import date_range

In [13]:
date_range('2005-01-01', '2005-01-31')[::2]

DatetimeIndex(['2005-01-01', '2005-01-03', '2005-01-05', '2005-01-07',
               '2005-01-09', '2005-01-11', '2005-01-13', '2005-01-15',
               '2005-01-17', '2005-01-19', '2005-01-21', '2005-01-23',
               '2005-01-25', '2005-01-27', '2005-01-29', '2005-01-31'],
              dtype='datetime64[ns]', freq='2D')

In [12]:
a[::2]

DatetimeIndex(['2005-01-01', '2005-01-03', '2005-01-05', '2005-01-07',
               '2005-01-09', '2005-01-11', '2005-01-13', '2005-01-15',
               '2005-01-17', '2005-01-19', '2005-01-21', '2005-01-23',
               '2005-01-25', '2005-01-27', '2005-01-29', '2005-01-31'],
              dtype='datetime64[ns]', freq='2D')

In [14]:
import numpy as np

In [15]:
a = np.arange(10)

In [17]:
a.ptp()

9

In [45]:
from pandas import Series, DataFrame

In [26]:
ser = Series([[1,2], [3,4]], index=[0,1])
ser

0    [1, 2]
1    [3, 4]
dtype: object

In [52]:
np.concatenate(ser.values)

array([1, 2, 3, 4])

In [51]:
df[0].apply(Series)

   0  1
0  1  2
1  3  4

In [31]:
a.flatten()

array([1, 2, 3, 4])